.fadeIn{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;

}

@keyframes fadeIn{
    from{
        opacity: 0.1;
    }
    to{
        opacity:1;
    }
}