
/* -----------------------General */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
:root{
    /* Colores */

    --base-color: #22a616;
    --black-color: black;
    --white-color: white;
    --grey-color: rgb(109, 107, 107);
    

    /* Tipografía */
    --normal: 20px;
}

html body{
    margin: 20px;
    color: var(--white-color);
    font-family: 'Dosis', sans-serif;
    background-image: url("../imagenes/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* -----------------------Menú */

nav{
    background-color: var(--base-color);
    font-size: var(--normal);
    border-radius: 5px;
    box-shadow: 0px 0 2px 1px var(--white-color);
}

nav ul{
    justify-content: center;
}

nav li{
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: var(--white-color);
}

nav a:hover{
    color: var(--black-color);
    text-decoration: none;
}
/* -----------------------Main */

.main{
    color: var(--black-color);
    padding: 30px;
    justify-content: center;
    font-weight: bold;
}

/* -----------------------Cards */

.cards{
    background-attachment: contain;
    
}

.cards img{
    width: 400px;
    height: 400px;
    background-size: cover;
}
/* -----------------------Biografia */
.biografia{
    padding: 50px;
}
.biografia img{
    height: 400px;
    background-size: cover;
    border-color: var(--white-color);

}

.texto{
    background-color: transparent;
    padding: 10px;
    color:var(--black-color);
    font-weight: bold;
}

/* -----------------------trivia */

.trivia{
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
}
.boton{
    width:100px;
    height:100px;
    background-color:#03800b;
    margin: 10px;
    padding:30px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:14px;
    line-height:32px;
    text-transform: uppercase;
    box-shadow: 0px 0 15px 1px var(--black-color);
    justify-content: right;
  }
  .boton:hover{
    opacity: 0.50;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
  }
  .boton a{
    color:#fff;
    text-decoration:none;
    padding:5px 5px 5px 0;
  }

/* -----------------------Footer */

footer{
    color: var(--black-color);
    font-weight: bold;
}

footer a{
    color: var(--black-color);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    color: var(--white-color);
    font-weight: bold;
}