
/* -----------------------General */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
:root{
    /* Colores */

    --base-color: #22a616;
    --black-color: black;
    --white-color: white;
    --grey-color: rgb(109, 107, 107);
    

    /* Tipografía */
    --normal: 20px;
}

html body{
    margin: 20px;
    color: var(--white-color);
    font-family: 'Dosis', sans-serif;
    background-image: url("../imagenes/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* -----------------------Menú */

nav{
    background-color: var(--base-color);
    font-size: var(--normal);
    border-radius: 5px;
    box-shadow: 0px 0 2px 1px var(--white-color);
}

nav ul{
    justify-content: center;
}

nav li{
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: var(--white-color);
}

nav a:hover{
    color: var(--black-color);
    text-decoration: none;
}
/* -----------------------Main */

.main{
    color: var(--black-color);
    padding: 30px;
    justify-content: center;
    font-weight: bold;
}

/* -----------------------Cards */

.cards{
    background-attachment: contain;
    
}

.cards img{
    width: 400px;
    height: 400px;
    background-size: cover;
}

/* -----------------------Footer */

footer{
    color: var(--black-color);
    font-weight: bold;
}